.slider .track {
    -fx-background-color: none;
}

.slider .thumb {
    -fx-background-color: #0b0b0b;
}

.scroll-pane .scroll-bar:vertical{
    -fx-background-color:  #1b1c1f;
}

.scroll-pane .scroll-bar:vertical .thumb{
    -fx-background-color: #4a4a4a;
}

.scroll-pane .scroll-bar:vertical .increment-button,
.scroll-pane .scroll-bar:vertical .decrement-button {
    -fx-background-color: transparent;
}





